<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>Thankyou! for visiting.</h1>
        <h2>If you have any problem or query contact Us.</h2>
    </div>
    <div class="MainContainer">
        <div class="entry_form1">
            <h2>Shubham Mishra</h2>
            <h3 class="contact_heading">Email: <a href="shbhm00@gmail.com"> shbhm00@gmail.com</a></h3>
            <h3 class="contact_heading">Mobile: 7773**37</h3>
            <h3 class="contact_heading">github:<a href="shbhm00.github.com">shbhm00.github.com </a></h3>
            <div class="awesomeIcon">
                <a href=""><i class="fa fa-facebook" style="color:white; font-size: 25px; padding: 16px; background-color: navy; border-radius: 50%;"></i></a>
                <a href=""><i class="fa fa-instagram" style="color:white; font-size: 25px; padding: 16px; background-color: rgb(252, 128, 149); border-radius: 50%;"></i></a>
                <a href=""><i class="fa fa-linkedin" style="color:white; font-size: 25px; padding: 16px; background-color: blue; border-radius: 50%;"></i></a>
            </div>
        </div>
        <div class="entry_form1">
            <h2>Sonali Chaudhary</h2>
            <h3 class="contact_heading">Email: <a href="mznsonali@gmail.com">mznsonali@gmail.com</a></h3>
            <h3 class="contact_heading">Mobile: 7773**37</h3>
            <h3 class="contact_heading">github: <a href="mzn**sonali.github.com"> mzn**sonali.github.com</a></h3>
            <div class="awesomeIcon">
                <a href=""><i class="fa fa-facebook" style="color:white; font-size: 25px; padding: 16px; background-color: navy; border-radius: 50%;"></i></a>
                <a href=""><i class="fa fa-instagram" style="color:white; font-size: 25px; padding: 16px; background-color: rgb(252, 128, 149); border-radius: 50%;"></i></a>
                <a href=""><i class="fa fa-linkedin" style="color:white; font-size: 25px; padding: 16px; background-color: blue; border-radius: 50%;"></i></a>
            </div>

        </div>
        <div class="entry_form1">
            <h2>Shivansh Trivedi</h2>
            <h3 class="contact_heading">Email: <a href="shivanshtrivedi558@gmail.com">shivanshtrivedi558@gmail.com</a> </h3>
            <h3 class="contact_heading">Mobile: 7773**37</h3>
            <h3 class="contact_heading">github: <a href="shv**tri.github.com">shv**tri.github.com</a></h3>
            <div class="awesomeIcon">
                <a href=""><i class="fa fa-facebook" style="color:white; font-size: 25px; padding: 16px; background-color: navy; border-radius: 50%;"></i></a>
                <a href=""><i class="fa fa-instagram" style="color:white; font-size: 25px; padding: 16px; background-color: rgb(252, 128, 149); border-radius: 50%;"></i></a>
                <a href=""><i class="fa fa-linkedin" style="color:white; font-size: 25px; padding: 16px; background-color: blue; border-radius: 50%;"></i></a>
            </div>
        </div>
    </div>
</body>
</html>