<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>Disease Name:</h1>
        <h2>ABCXYZ</h2>
        <div class="Leaf_image">
            <img src="static/leaf.jpg" alt="" class="leaf_image2">
        </div>
    </div>
    <div class="MainContainer1">
        <div class="entry_form2">
            <h1>Brief Description: </h1>
        </div>
        <div class="Disease_block">
        <div class="entry_form3">
            <h2>Prevent this plant following below steps:</h2>
        </div>
        <div class="entry_form3">
            <h2>Supplements:</h2>
        </div>
    </div>
    </div>
</body>
</html>